@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
}

.container{
  position: absolute;
  left: 35%;
  top: 40%;
}

.button{
  width: 150px;
  height: 150px;
  margin: 15px;
  border-radius: 25px;
  border: none;
  background-color: rgba(221, 217, 195, 0.575);
  transition: background-color 0.5s;
}

.button:hover{
  background-color: lightblue; 
}

.showColor{
  transition: opacity 0.5s;
}

#listElement{
  width: 700px;
  position: relative;
  left:-10%;
  font-family: 'Poppins';
  padding: 15px;
  background-color: rgba(221, 217, 195, 0.575);
  border-radius: 25px;
}



img{
  max-width: 130px;
}

.drankWater{

}

.list{

}

.exit{
  
}